
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.cache

#Ignore build files 
build/
*.o
*.a
*.lib
*.dll
*.exe

#Ignore dependencies
libraries/

#Ignore vim swap files
/*.swp
